---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import About from "../components/About";
import Projects from "../components/Projects";
import Contact from "../components/Contact";
---

<Layout title="DelgadoDev">
  <main class="text-white mt-10 flex flex-col items-center">
    <div class="max-w-xs md:max-w-2xl lg:max-w-4xl">
      <Header />
      <About />
      <Projects />
      <Contact client:load/>

      <p class="p-5 mt-5 text-center font-Oxygen">
        Developed by @DelgadoDev - 2022
      </p>
    </div>
  </main>
</Layout>
