<div class="flex justify-between items-center">
  <div class="flex flex-col gap-2">
    <h2
      class="text-2xl lg:text-3xl font-extrabold font-Inter bg-gradient-to-r from-orange-500 to-pink-600 text-transparent bg-clip-text"
    >
      Lautaro Delgado
    </h2>
    <p class="font-Oxygen font-semibold">
      Frontend Developer based in Santiago Del Estero
    </p>
  </div>
  <div
    class="bg-gradient-to-r from-orange-500 to-pink-600 rounded-full p-[2px]"
  >
    <img
      src="https://scontent.fcor10-3.fna.fbcdn.net/v/t1.6435-9/153656457_3998642576847387_6571715744248095789_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=174925&_nc_eui2=AeGOzR0O0Z_qvWzNAKZQ49itn0NIJkuGU1mfQ0gmS4ZTWaNXoc3vkdMezCquVtVfONxwEdjYl8kPdJn4poh-NFzg&_nc_ohc=9qtufBoMKkIAX-_haXJ&_nc_ht=scontent.fcor10-3.fna&oh=00_AfCtXZ-gSNyUL3O31ZfLQ1z9U5WqFVY6Ggg-5azujyOJ9A&oe=638B9D08"
      class="rounded-full w-32  relative"
    />
  </div>

  <div
    class="absolute z-[-1] lg:w-[50%] w-[100%] h-[50%] top-0 bg-gradient-to-b from-orange-500 to-pink-500 blur-[500px] md:blur-[700px]"
  >
  </div>
</div>
